<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\WebApplication1.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" >
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development"/>
        </environmentVariables>
        
      </aspNetCore>
    </system.webServer>
  </location>
  
  <!--<compilation debug="true"/>
  <customErrors mode="Off">
  </customErrors>-->
</configuration>
<!--ProjectGuid: 84A3E3C5-B52E-4509-BC55-6A82BB22E4B6-->